.logoWrap {
  display: flex;
  align-items: center;
}

.logoFull {
  width: 172px;
  height: 44px;
}

.logoIcon {
  width: 44px;
  height: 44px;
}

@media (max-width: 1024px) {
  .logoIcon {
    width: 32px;
    height: 32px;
  }
}
